{
	"presets": [
		["env", {
			"targets": {
				"browsers": ["last 2 versions", "safari >= 7"]
			}
		}],
		"react",
		"stage-0"
	],
	"plugins": [
		"transform-decorators-legacy",
		"transform-runtime",
		"transform-class-properties",
		"react-loadable/babel",
		["import", 
			[
				{ "libraryName": "antd-mobile", "libraryDirectory": "lib","style": true },
				{ "libraryName": "antd", "libraryDirectory": "lib","style": true },
				{ "libraryName": "@icedesign/base","libraryDirectory": "lib","style": true}
			]
		]
	]
}